.values .box img {
    padding: 10px 5px;
    padding-bottom: 31px;
}

.values .box {
    padding: 5px;
   
}  
  .btn {
    display: inline;
    width: 149px;
    background-color: rgb(4, 170, 109);
    color: white;
    border-radius: 25px;
}

  .btn :hover {
    display: inline;
    width: 149px;
    background-color: rgb(7, 7, 6);
    color: rgb(211, 34, 11);
    border-radius: 25px;
}

h1 {
  line-height: 46px !important;
}