<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" dir="ltr" data-theme="light" data-layout="vertical" data-header-position="relative"
    data-boxed-layout="full">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in topbar.scss -->
    <!-- ============================================================== -->
    <header class="topbar fixed-top" data-navbarbg="skin5" [style]="headercolor">
        <nav class="d-flex top-navbar navbar-expand-lg navbar-dark">

            <div>
                <!-- This is for the sidebar toggle which is visible on mobile only -->
                <!-- <a (click)="showMobileMenu = !showMobileMenu" class="nav-toggler waves-effect waves-light d-block d-lg-none"
          href="javascript:void(0)">
          <i [ngClass]="showMobileMenu ? 'bi bi-text-left fs-6' : 'bi bi-text-left fs-6'"></i>
        </a> -->

                <a class="topbartoggler d-block d-lg-none waves-effect waves-light" href="javascript:void(0)"
                    data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed">
                    <i class="bi bi-text-right fs-6" style="color: black;"></i>
                </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->


            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5"
                [ngbCollapse]="!isCollapsed">
                <app-user-navigation class="w-100"></app-user-navigation>
            </div>
        </nav>
    </header>
    <div>
        <router-outlet>
        </router-outlet>
    </div>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">


        <div class="container">
            <div class="copyright">
                &copy; Copyright 2022<strong><span> CodeWithNaval</span></strong>.
            </div>
            <!-- <div class="credits">
               Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div> -->
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>