.parogramLayout {
    background-color: #d5e9ed;
    font-size: 1rem;
    font-style: inherit;
    font-family: cursive;
    border: 1px solid;
    padding: 20px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 1px;
}


.ifremwrapper{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
} 

.ifremwrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
