.parogramLayout {
    background-color: #d5e9ed;
    font-size: 1rem;
    font-style: inherit;
    font-family: cursive;
    border: 1px solid;
    padding: 20px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 1px;
    width: 100%;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1 !important;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    overflow: auto;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }


  .selectedBlog{
    color: rgb(146, 199, 0);
    font-size: 20px;
}

.unSelected{
    color: darkslategray;
}

.unSelected:hover{
    color: rgb(146, 199, 0);
    font-size: 20px;
}